<h1>Listing comic_titles</h1>

<ul class="thumbnails">
  <% @comic_titles.each do |comic_title| %>
  <li class="span3">
    <div class="thumbnail">
      <%= link_to (image_tag comic_title.cover_page(:thumb)), comic_title %>
      <h4><%= comic_title.title %></h4>
      <p>By <%= link_to comic_title.user.username, comic_title.user %></p>
    </div>
  </li>
  <% end %>
</ul>


<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comic_titles.each do |comic_title| %>
  <tr>
    <td><%= link_to 'Show', comic_title %></td>
    <td><%= link_to 'Edit', edit_comic_title_path(comic_title) %></td>
    <td><%= link_to 'Destroy', comic_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
