<p id="notice"><%= notice %></p>

<h1><%= @comic_title.title %></h1>
<p>By <%= link_to @comic_title.user.username, @comic_title.user %></p>
<p><strong>Series Synopsis: </strong><%= @comic_title.synopsis %></p>

<%= link_to 'Edit', edit_comic_title_path(@comic_title) %> |
<%= link_to 'Back', root_path %>

<h3>Chapters</h3>