<%= form_for([@comic_title, @comic]) do |comic| %>
  <% if @comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% @comic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= comic.label :title %>
    <%= comic.text_field :title, placeholder: "Title for this issue within your series" %>
  </div>
  <div class="field">
    <%= comic.label :synopsis %>
    <%= comic.text_area :synopsis, placeholder: "What is this comic about?  Careful not to give the story away!" %>
  </div>
  <div class="actions">
    <%= comic.submit %>
  </div>
<% end %>
