<%= form_for([@comic, @comic_page]) do |comic_page| %>
  <% if @comic_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic_page.errors.count, "error") %> prohibited this comic_page from being saved:</h2>

      <ul>
      <% @comic_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= comic_page.file_field :page_image %>
  <div class="actions">
    <%= comic_page.submit %>
  </div>

   <div class="field">
    <%= comic_page.label :page_number %>
    <%= comic_page.number_field :page_number %>
  </div>
<% end %>
